/*Joshua Brian Wilding*/
/*
  Need to shrink and center the searchbar.
  make the right-hand edge flush
  The main body needs to start out not being covered up.
  Keep the logo image the same size. Change out for a generic logo.
  Add small magnifying glass image to right-hand side of search bar (make it a button if possible)
*/
body {
  font-family: sans-serif;
  font-size: 17px;
  margin:0;
}
.jw-logo {
  position:fixed;
  float:left;
  height: 150px;
  width: 150px;
  border-radius: 0px 0px 0px 10px;
  top:0;
  margin-right:0;
  margin-left: 66px;
  margin-bottom:0;
  padding: 0%;
  background-color:#25935f;
}
img.jw-logo {
  margin:0;
  padding:0;
}
.jw-navbar {
  background-color:#25935f;
  position: fixed;
  float:left;
  top:0;
  margin-left:216px;
  width:80%;
  height: 60px;
  margin-right:0;
  margin-bottom: 0;
}
.main-body {
  float:left;
  margin-left:6%;
  margin-right:6%;
  margin-top: 160px;
}
.clear-fix {
  clear: both;
}
form.search {
  height: 25%;
}
ul.menu-list {
  float:left;
  width: 96%;
  margin-right: 0;
  padding-left: 0;
}
li.menu-item {
  list-style-type: none;
  margin-left: 5%;
  margin-right: 5%;
  display: inline;
  padding-left: 0;
}
a.menu-link {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}
.search-container {
  float:left;
  margin-top: 60px;
  margin-left: 216px;
  margin-right:0;
  margin-bottom: 0;
  padding:0;
  position:fixed;
  background-color:#66B38F;
  height:90px;
  width: 80%;
  border-radius: 0px 0px 20px 0px;
}
input.search-box {
  position:relative;
  margin-top:35px;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding:0;
  width:60%;
  float:left;
  font-style:italic;
  font-family: sans-serif;
  font-size: 18px;
  color:#606864;
  border-radius: 4px 4px 4px 4px;
  border-color:#25935f;
  border-style:solid;
  border-width: 0px;
}
.jw-saved-search-container {
  background-color: #85C2A5;
  font-style: italic;
  font-size: 16px;
}

/*
  SOURCES:
    http://www.w3schools.com/tags/tag_input.asp
    http://www.w3schools.com/tags/ref_colorpicker.asp
    http://www.w3schools.com/css/css_howto.asp
    http://www.w3schools.com/cssref/css3_pr_border-radius.asp
    http://www.w3schools.com/tags/ref_eventattributes.asp
    http://www.w3schools.com/html/html_lists.asp
*/
