<!DOCTYPE = html>
<head>
  <link rel="stylesheet" type="text/css" href="./css/global.css">
</head>
<body>
  <div class="jw-main-navigation">
    <!--
    The following is a filler image which will soon be replaced with a logo. All credit goes to www.fillmurray.com for the image.
  -->
    <div class="jw-logo">
      <img src="http://www.fillmurray.com/150/150" class="jw-logo" alt="logo" />
    </div>
    <div class="jw-navbar">
        <ul class="jw-navbar">
          <div class="clear-fix"></div>
          <li class="jw-navbar">
            <a class="jw-navbar" href="home.html"><img src="images/home.png" class="homeicon" alt="home" /></a>
          </li>
          <li class="jw-navbar">
            <form>
              <input class="jw-search">
            </form>
          </li>
          <li>
            <a href="savesearch.html"><img src="http://www.clipartbest.com/cliparts/4cb/K7G/4cbK7Gggi.png" class="jw-search" alt="search" /></a>
          </li>
        <li class="profileOne">
          <a class="profileOne" href="profile.html"><img src="http://www.fillmurray.com/30/30" class="prof" alt="prof" /></a>
        </li>
        </ul>
  </div>
  </div>
  <!--
  body object called to place dynamic content.
-->
  <div class="main-body">
    {{{body}}}
</div>
</body>
<!-- SOURCES: -->
<!-- http://www.textfixer.com/tutorials/html-search-box.php -->
<!-- http://www.lipsum.com/ -->
