<div class="home-body">
  <p>Here's a gif</p>
<p><img id = "smiling" src = "images/Sunglasses.gif"></img>
<p>Welcome to our App! This is the home page.</p>
  <span class = "buttons">
<button type = "button">Log in!</button>
</div>
